<nav id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!--<div class="container-fluid" id="navfluid">-->

    <div class="navbar-header">
      <p class="navbar-text visible-xs-inline-block">Para Caballeros</p>
      <button type="button" class="navbar-toggle colapsed" data-toggle="collapse" data-target="#navigationbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse center" id="navigationbar">
      <ul class="nav navbar-nav col-md-6 menu">
        <li class="list-item"><img src="./assets/logo-blanco.png"></li>
        <li class="list-item navbar-li-hover"><a href="#">INICIO</a></li>
        <li class="list-item"><a href="#">COACHING</a></li>
        <li class="list-item"><a href="#">EVENTOS</a></li>
        <li class="list-item"><a href="#">FORO</a></li>
        <li class="list-item"><a href="#">TIENDA PARACABALLEROS</a></li>
      </ul>

      <div class="navbar-right user">
          <a class="link" href="#">INICIAR SECÍON</a> / <a class="link" href="#">REGISTRARSE</a>
      </div>

      <div class="navbar-right col-sm-2 col-md-2">
            <input [@search]="state" (click)="toggleState()" class="search searchBar" type="text" placeholder="Buscar" name="search">
            <button (click)="toggleState()" class="btn search"><i class="glyphicon glyphicon-search"></i></button>
      </div>
      

    </div>
    
</nav>
