<div id="Panelwrapper">

  <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a routerLink="/" routerLinkActive="active">
                        Para Caballeros Panel
                    </a>
                </li>
                <li>
                    <p>Nuevo Post</p>
                </li>
                <li>
                    <p>Posts</p>
                </li>
                <li>
                    <p>Usuarios</p>
                </li>
                <li>
                    <p>Foro</p>
                </li>
                <li>
                    <p>Tienda</p>
                </li>
                <li>
                    <p>Pedidos</p>
                </li>
                <li>
                    <p>Contacto</p>
                </li>
                <li>
                    <a routerLink="/" routerLinkActive="active"><span class="glyphicon glyphicon-arrow-left"></span> Volver a Para Caballeros</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                    </div>
                </div>
            </div>
        </div>

</div>