
@font-face { font-family: Myriad Set Pro Bold; src: url('../assets/fonts/myriad-set-pro_bold.ttf'); }
@font-face { font-family: Myriad Set Pro Thin; src: url('../assets/fonts/myriad-set-pro_thin.ttf'); } 
@font-face { font-family: Source Sans Pro Bold; src: url('../assets/fonts/SourceSansPro-Bold.otf'); }
@font-face { font-family: Source Sans Pro Regular; src: url('../assets/fonts/SourceSansPro-Regular.otf'); }

#main-wrapper{
    padding-bottom: 5%;
    background-color: rgba(0,0,0,0.07);
}

.noticia{
    background-color: black;
    margin: 10px 0 0 0;
}
.noticia-text{
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: justify;
    margin: 0 10px 0 0;
    max-height: 130px;
}
.noticia-big{
    float: none;
    margin: 10px auto 0 auto;
    background-color: black;
}

.noticia-big img{
    width: 45%;
    float: left;
}

.noticia-big p{
    max-height: 210px;
}

.noticia img {
    width: 38%;
    float: left;
}

.pdm{
    padding-bottom: 10%;
}

.cdm{
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.containerDiv{
    margin: 0 auto;
    float: none;
    text-align: center;
    padding-top: 20px;
    max-width: 1080px;
}

.big-img{
    position: relative;
    /*top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    width: 100%;
    height: 100%;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}

.bigDiv{
    background-color: white;
    /*padding-left: 10px;
    padding-right: 10px;*/
    -webkit-border-radius: 0px 0px 2px 2px;
    -moz-border-radius: 0px 0px 2px 2px;
    border-radius: 0px 0px 2px 2px;
}

.big-text{
    text-align: justify;
    padding: 0 15px 5px 15px;
    margin: 0;
    font-family: Source Sans Pro Regular;
}

.big-text:first-child{
    padding-top: 10px;
    font-size: 35px;
    font-family: Source Sans Pro Bold;
}

.big-text:last-child{
    color: rgba(0,0,0,0.6);
    padding-bottom: 15px;
}

.row2{
    width: 100%;
}

.smallContainer{
    background-color: white;
    -webkit-border-radius: 3px 3px 2px 2px;
    -moz-border-radius: 3px 3px 2px 2px;
    border-radius: 3px 3px 2px 2px;

    margin-top: 20px;
}

.smallNoticia{
    position: relative;
    height: 146px;
    max-height: 146px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.small-img img{
    width: 100%;
    height: 100%;
}

.small-img{
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
}

.small-text{
    display: block;
    position: absolute;
    top: 10px;
    left: 148px;
    right: 0px;
}

.s-text{
    text-align: justify;
    padding: 0px 10px 5px 0px;
    margin: 0;
    font-family: Source Sans Pro Regular;
}

.s-text:first-child{
    padding-top: 5px;
    font-size: 20px;
    font-family: Source Sans Pro Bold;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.s-text:last-child{
    color: rgba(0,0,0,0.6);
    padding-bottom: 15px;
}

.tinyNoticia{
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 12px 0px;
    background-color: white;
    height: 123px;
    max-height: 123px;
    width: 100%;
    position: relative;
    -webkit-border-radius: 0px 2px 2px 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    border-radius: 0px 2px 2px 0px;
}

.tinyNoticia:not(:first-child){
    margin: 10px 0px 12px 0px;
}

.tiny-img{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.tiny-img img{
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}

.tiny-text{
    display: block;
    position: absolute;
    top: 0px;
    left: 130px;
    right: 0px;
}

.t-text{
    text-align: justify;
    padding: 0px 10px 5px 0px;
    margin: 0;
    font-family: Source Sans Pro Regular;
}

.t-middle{
    max-height: 45px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.t-text:first-child{
    padding-top: 5px;
    font-size: 20px;
    font-family: Source Sans Pro Bold;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.t-text:last-child{
    color: rgba(0,0,0,0.6);
    padding-bottom: 15px;
}

.m-contacto{
    background-color: white;
    text-align: left;
    padding-bottom: 5px;
}

.c-title{
    width: 100%;
    background-color: black;
    color: white;
    height: 35px;
    font-size: 16px;
    padding: 7px 0px 0px 10px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}

.m-fieldContainer{
    width: 95%;
    margin: 8px auto;
    position: relative;
}

.c-desc{
    width: 95%;
    margin: 0px auto;
    color: rgba(0,0,0,0.3);
    text-align: justify;
}

.m-fields{
    display: inline-block;
    margin: 5px 0px 5px 0px;
}

.m-input{
    position: absolute;
    left: 25px;
    right: 0px;
    top: 0px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-width: 315px;
    width: 315px;
}

.m-input:focus{
    outline: none;
}

.m-input:first-child{
    top: 0px;
}

.m-input:last-child{
    top: 0px;
}

.m-tfield{
    display: block;
    width: 100%;
    margin: 0px auto;
    height: 100px;
    border-color: rgba(0,0,0,0.2);
    resize: none;
}

.mc-button{
    border: none;
    background: none;
    background-color: black;
    color: white;
    width: 100%;
    height: 35px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

.divButton{
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
}

.t-tendencias{
    margin-top: 15px;
    text-align: left;
    font-family: Source Sans Pro Bold;
    font-size: 17px;
}

.adj-foto{
    color: rgba(0,0,0,0.3);
}