

#main-wrapper{
    max-width: 78%;
    margin: 0 auto 0 auto;
}

.noticia{
    background-color: black;
    margin: 10px 0 0 0;
}
.noticia-text{
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: justify;
    margin: 0 10px 0 0;
    max-height: 130px;
}
.noticia-big{
    float: none;
    margin: 10px auto 0 auto;
    background-color: black;
}

.noticia-big img{
    width: 45%;
    float: left;
}

.noticia-big p{
    max-height: 210px;
}

.noticia img {
    width: 38%;
    float: left;
}