<div #main id="main-wrapper">
  

    <div class="row containerDiv">

        <!-- Izquierda div-->
        <div class="col-md-8 pdm">

            <div #bigDiv class="bigDiv"></div>

            <div #smallContainer class="smallContainer"></div>


        </div>

        <!-- Derecha div-->
        <div class="col-md-4 cdm">

            <div #leftNews class="tinyContainer"></div>

            <div class="m-contacto">
                <p class="c-title">CONTÁCTANOS</p>
                <p class="c-desc">Si quieres contactarnos una historia, envarnos alguna foto, vídeo o contenido que nos pueda interesar
                    escribenos.
                </p>
                <div class="m-fieldContainer">
                    <img class="m-fields" src="./assets/ICONO NOMBRE.png">
                    <input class="m-fields m-input">
                </div>
                <div class="m-fieldContainer">
                    <img class="m-fields" src="./assets/ICONO EMAIL.png">
                    <input class="m-fields m-input">
                </div>
                <div class="m-fieldContainer">
                    <img class="m-fields" src="./assets/ICONO CAMARA.png">
                    <p class="m-fields adj-foto">Adjuntar Foto</p>
                    <textarea class="m-tfield"></textarea>
                </div>
                <div class="divButton">
                    <button class="mc-button">ENVIAR</button>
                </div>
            </div>

            <p class="t-tendencias">#TENDENCIAS</p>

            <div #tendenciaContainer class="tendencias"></div>

        </div>
    </div>


</div>