<div #main id="main-wrapper">
  

    <div class="row containerDiv">

        <!-- Izquierda div-->
        <div class="col-md-8 pdm">


            <div #bigDiv class="bigDiv">
                <!--
                <div class="row2">
                    <img class="big-img" src="./assets/slider1.png">
                </div>
                <div class="row2">
                    <p class="big-text">Cr7 Gana el balón de Oro</p>
                    <p class="big-text">Cristiano Ronaldo Consigue su Cuarto Valón de Oro con 745 puntos,
                        tercero como jugador del Real Madrid.
                    </p>
                    <p class="big-text">por: Juan Rodriguez</p>
                </div>-->
            </div>

            <div #smallContainer class="smallContainer">

                <!--
                <div class="smallNoticia">
                    <div class="small-img">
                        <img src="./assets/IMAGEN DE NOTICIA.jpg">
                    </div>
                    <div class="small-text">
                        <p class="s-text">Cr7 Gana el balón de Oro</p>
                        <p class="s-text">Cristiano Ronaldo Consigue su Cuarto Valón de Oro con 745 puntos,
                            tercero como jugador del Real Madrid.
                        </p>
                        <p class="s-text">por: Juan Rodriguez</p>
                    </div>
                </div>

                <div class="smallNoticia">
                    <div class="small-img">
                        <img src="./assets/IMAGEN DE NOTICIA.jpg">
                    </div>
                    <div class="small-text">
                        <p class="s-text">Cr7 Gana el balón de Oro</p>
                        <p class="s-text">Cristiano Ronaldo Consigue su Cuarto Valón de Oro con 745 puntos,
                            tercero como jugador del Real Madrid.
                        </p>
                        <p class="s-text">por: Juan Rodriguez</p>
                    </div>
                </div>-->

            </div>


        </div>

        <!-- Derecha div-->
        <div class="col-md-4 cdm">

            <div class="tinyContainer">

                
                <div class="tinyNoticia">
                    <div class="tiny-img">
                        <img src="./assets/IMAGEN DE NOTICIA.jpg">
                    </div>
                    <div class="tiny-text">
                        <p class="t-text">Cr7 Gana el balón de Oro</p>
                        <p class="t-text t-middle">Cristiano Ronaldo Consigue su Cuarto Valón de Oro con 745 puntos,
                            tercero como jugador del Real Madrid.
                        </p>
                        <p class="t-text">por: Juan Rodriguez</p>
                    </div>
                </div>

                <div class="tinyNoticia">
                    <div class="tiny-img">
                        <img src="./assets/IMAGEN DE NOTICIA.jpg">
                    </div>
                    <div class="tiny-text">
                        <p class="t-text">Cr7 Gana el balón de Oro</p>
                        <p class="t-text t-middle">Cristiano Ronaldo Consigue su Cuarto Valón de Oro con 745 puntos,
                            tercero como jugador del Real Madrid.
                        </p>
                        <p class="t-text">por: Juan Rodriguez</p>
                    </div>
                </div>

                <div class="tinyNoticia">
                    <div class="tiny-img">
                        <img src="./assets/IMAGEN DE NOTICIA.jpg">
                    </div>
                    <div class="tiny-text">
                        <p class="t-text">Cr7 Gana el balón de Oro</p>
                        <p class="t-text t-middle">Cristiano Ronaldo Consigue su Cuarto Valón de Oro con 745 puntos,
                            tercero como jugador del Real Madrid.
                        </p>
                        <p class="t-text">por: Juan Rodriguez</p>
                    </div>
                </div>


            </div>

            <div class="m-contacto">
                <p class="c-title">CONTÁCTANOS</p>
                <p class="c-desc">Si quieres contactarnos una historia, envarnos alguna foto, vídeo o contenido que nos pueda interesar
                    escribenos.
                </p>
                <div class="m-fieldContainer">
                    <img class="m-fields" src="./assets/ICONO NOMBRE.png">
                    <input class="m-fields m-input">
                </div>
                <div class="m-fieldContainer">
                    <img class="m-fields" src="./assets/ICONO EMAIL.png">
                    <input class="m-fields m-input">
                </div>
                <div class="m-fieldContainer">
                    <img class="m-fields" src="./assets/ICONO CAMARA.png">
                    <p class="m-fields adj-foto">Adjuntar Foto</p>
                    <textarea class="m-tfield"></textarea>
                </div>
                <div class="divButton">
                    <button class="mc-button">ENVIAR</button>
                </div>
            </div>

            <p class="t-tendencias">#TENDENCIAS</p>

            <div #tendenciaContainer class="tendencias">


                <!--
                <div class="tinyNoticia">
                    <div class="tiny-img">
                        <img src="./assets/IMAGEN DE NOTICIA.jpg">
                    </div>
                    <div class="tiny-text">
                        <p class="t-text">Cr7 Gana el balón de Oro</p>
                        <p class="t-text t-middle">Cristiano Ronaldo Consigue su Cuarto Valón de Oro con 745 puntos,
                            tercero como jugador del Real Madrid.
                        </p>
                        <p class="t-text">por: Juan Rodriguez</p>
                    </div>
                </div>

                <div class="tinyNoticia">
                    <div class="tiny-img">
                        <img src="./assets/IMAGEN DE NOTICIA.jpg">
                    </div>
                    <div class="tiny-text">
                        <p class="t-text">Cr7 Gana el balón de Oro</p>
                        <p class="t-text t-middle">Cristiano Ronaldo Consigue su Cuarto Valón de Oro con 745 puntos,
                            tercero como jugador del Real Madrid.
                        </p>
                        <p class="t-text">por: Juan Rodriguez</p>
                    </div>
                </div>-->


            </div>


        </div>
    </div>


</div>